<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.portalserver.mapper.UserMapper">
    <select id="getList" parameterType="UserEntity" resultType="UserEntity">
        select * FROM KCD86049.sys_user
    </select>
    
    <select id="getOneUserList" resultType="UserEntity">
        select * from KCD86049.sys_user where user_id = #{userId};
    </select>

    <select id="getUserByDeptId" resultType="UserEntity">
        select * from KCD86049.sys_user where dept_id = #{deptId}
    </select>

    <insert id="addUser">
        insert into KCD86049.sys_user (user_id, dept_id, user_name, nick_name, user_type, email,
        phonenumber, sex, avatar, password, status, del_flag,
        create_by, create_time, update_by, update_time, remark)
        values
        (#{userId}, #{deptId}, #{userName}, #{nickName}, #{userType}, #{email},
        #{phonenumber}, #{sex}, #{avatar}, #{password}, #{status}, #{delFlag},
        #{createBy}, #{createTime}, #{updateBy}, #{updateTime}, #{remark});
    </insert>

    <update id="updateUser">
        update KCD86049.sys_user set dept_id = #{deptId}, user_name = #{userName}, nick_name = #{nickName},
        user_type = #{userType}, email = #{email}, phonenumber = #{phonenumber}, sex = #{sex},
        avatar = #{avatar}, password = #{password}, status = #{status}, del_flag = #{delFlag}, create_by = #{createBy},
        create_time = #{createTime}, update_by = #{updateBy}, update_time = #{updateTime}, remark = #{remark}
        where user_id = #{userId};
    </update>

    <delete id="deleteUser">
        delete from KCD86049.sys_user where user_id = #{userId};
    </delete>
</mapper>